# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

emscripten/*.bc
emscripten/*.s
emscripten/*.model
emscripten/*.model.txt
emscripten/build
emscripten/*.js
emscripten/*.data
emscripten/demo/js/emscripten_zinnia.js
